@font-face {
    font-family: 'iconfont';
    /* project id 1764620 */
    src: url('//at.alicdn.com/t/font_1764620_yw6yn5y7e3.eot');
    src: url('//at.alicdn.com/t/font_1864650_3ll6oyitptp.css');
    src: url('//at.alicdn.com/t/font_1764620_yw6yn5y7e3.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1764620_yw6yn5y7e3.woff2') format('woff2'), url('//at.alicdn.com/t/font_1764620_yw6yn5y7e3.woff') format('woff'), url('//at.alicdn.com/t/font_1764620_yw6yn5y7e3.ttf') format('truetype'), url('//at.alicdn.com/t/font_1764620_yw6yn5y7e3.svg#iconfont') format('svg')

}


.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 30rpx; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(96, 96, 96, 0.8);
    position: absolute;
    right: 30%;
    bottom: 5%;
}

.icong:before {
    content: "\e609";
    font-size: 50rpx;
    position: absolute;
    left: -75%;
    top: -32%;
}

.iconc:before {
    content: "\e625";
    font-size: 50rpx;
    position: absolute;
    transform: translateX(-105%);
    top: -14%;
}

.icond:before {
    content: "\e60c";
    font-size: 40rpx;
    position: absolute;
    transform: translateX(-105%);
    top: -9%;
}

.iconliked:before {
    content: "\e639";
    font-size: 40rpx;
    position: absolute;
    transform: translateX(-105%);
    top: -9%;
    color: #69C8BB;
}

.iconheart:before {
    content: "\e619";
    font-size: 40rpx;
    position: absolute;
    left: -132%;
    top: -9%;
}

.iconsearch::before {
    content: "\e61a";
    font-size: 40rpx;
    position: absolute;
    left: 0;
}

.iconxinfeng::before {
    content: "\e601";
    font-size: 38rpx;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
}

.iconhuixin::before {
    content: "\e614";
    font-size: 32rpx;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.iconjieda::before {
    content: "\e63a";
    font-size: 32rpx;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
}

.iconback::before {
    content: "\e682";
    font-size: 32rpx;
    position: absolute;
    color: #000;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.iconlook::before {
    content: "\e61c";
    font-size: 55rpx;
    position: absolute;
    height: 55rpx;
    line-height: 55rpx;
    width: 55rpx;
    transform: translateX(-108%);
    color: #69C8BB;
}


/* 富文本 */

.iconfont1 {
    font-family: "iconfont" !important;
    font-size: 38rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconplus::before {
    content: "\e61e";
    position: relative;
    color: #000;
    height: 55rpx;
    line-height: 55rpx;
    width: 55rpx;
}

.iconComments::after {
    content: "\e600";
    position: relative;
    color: #707070;
    font-size: 24rpx;
    height: 55rpx;
    line-height: 55rpx;
    width: 55rpx;
}


/* 删除 */

.icondelete::after {
    content: "\e615";
    position: absolute;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    font-size: 60rpx;
    width: 100%;
    left: 0;
}
